/*公共样式*/
body{ 
    margin:0px; 
    padding:0px;
    font-size: 12px;
    font-family:"微软雅黑";
    
}
a{
    text-decoration: none;
}

a:visited, a:link, a:active {
    color: #333 !important;
}
a:hover{
    color: darkcyan;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
    font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,tahoma,sans-serif;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5;

}

div{
    border: solid 0px #000;
}
img{
    border-radius: 5px;
}
.icon {
    background: url(http://static.hdslb.com/images/base/icons.png) no-repeat;
}
.shadow{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.13);
}



/*head样式*/
.header {
    height: 170px;
    position: relative;
    margin: -42px auto 0;
    background: transparent no-repeat center -10px;
}
.header footer{
    width: 1920px;
}

.blue-white {
    height: 42px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    z-index: 10000;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
    color: #222;
    background-color: transparent;
    
}

/*banner样式*/
.banner {
    color: #222;
    position: relative;
    z-index: 10000;
}

.banner-background {
    position: absolute;
    height: 62px;
    padding: 0 20px;
    top: -10px;
    left: -20px;
    width: 100%;
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=false);
    z-index: 50;
    background-position: center 0!important;
    background-repeat: no-repeat;
   
}
.banner-plur {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

.banner-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter: alpha(opacity=40) \9;
    background-color: rgba(255,255,255,0.4);
    z-index: 100;
}

.banner-content {
    width: 1000px;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: left;
    z-index: 10000;
    width: 980px;
    zoom: 1;
    transition: .15s background-color;
    font-size: 13px;
}

.banner-left {
    float: left;
    height: 42px;
    font-size: 12px;
    display: block;
}

.banner-content li {
    float: left;
    text-align: center;
    line-height: 42px;
    position: relative;
}

.link {
    padding: 0 15px;

}

.banner-right {
    float: right;
}

.tougao {
    background: url(http://static.hdslb.com/images/base/b-post.png);
    width: 58px;
    height: 48px;
    color: white;
}


/*menu*/

.menu {
    height: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.menu li{
    display: block;
    float: left;
    height: 50px;
    position: relative;
    font-size: 14px;
    margin-right: 34px;
}

.menu em {
    font-style: normal;
    font-weight: normal;
    padding-top: 27px;
    display: inline-block;
    vertical-align: middle;
}
.add_new {
    position: static;
    display: inline-block;
    vertical-align: top;
    top: auto;
    left: auto;
    margin-left: 0;
    background-color: darkcyan;
    border-radius: 4px;
    color: white;
}

.v-num {
    position: absolute;
    top: 8px;
    left: 0;
    height: 14px;
    width: 100%;
    text-align: center;
}



/*底部样式*/

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 1000px;
}
.footer-nav {
    text-align: center;
    line-height: 35px;
    font-size: 12px;
}

.fooger-content {
    text-align: center;
    color: #999;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-top: 2px solid darkcyan;
}

.fooger-content a {
    color: #999;
}
.footer-nav a{
    text-decoration:none;
    margin: 0 10px;
    color:darkcyan;
}
