
.content {
    margin-left: auto;  
    margin-right: auto;
    width: 1000px;
    height: 498px;
    overflow:auto;
}

.login {
    padding-left: auto;
    padding-right: auto;
    margin-top: 30px;
    width: auto;
}
