body{
    background: #F6F6F6;
}
.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 1000px;
    height:auto;
/*    background: #fafcff;*/
    
}

.a-left {
    width: 660px;
    float: left;
    min-height: 1000px;
    /*background: white;*/
    /*padding: 15px;*/
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);*/
/*    border: 1px solid #ddd;*/

}

.article-content{
    width: 100%;
    float: left;
    /*min-height: 1000px;*/
    background: white;
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}


.a-right {
    width: 280px;
    float: right;
    /*height: 500px;*/
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
/*    border: 1px solid #aaa;*/
    /*box-shadow: 0px 1px 3px rgba(0,0,0,0.13);*/
}


.content-title h1 {
    font-size: 24px;
    font-weight: 400;
}

.content-title {
    font-size: 22px;
    color: #333;
    margin-top: 20px;
    position: relative;
}

.content-info {
    position: relative;
    height: 14px;
    /*line-height: 14px;*/
    line-height: 1.7;
    /*font-size: 12px;*/
    font-size: 14px;
    /*color: #666;*/
    color: #585858;
    padding: 10px 0 15px;
    border-bottom: 1px solid darkcyan;
}

.info_right {
    float: right;
}


.info-right {
    float: right;
}

em {
    color: darkcyan;
}

.content-inner {
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.7;
    color: #585858;
    font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,tahoma,sans-serif;
}

.article-user {
/*    width: 298px;*/
/*    border: 1px solid darkcyan;*/
    border: 1px solid #e5e6e8;
/*    border-top: 0;*/
/*    padding: 20px;*/
}

.user-title {
    font-size: 16px;
    position: relative;
    line-height: 16px;
    border-left: 2px solid darkcyan;
    padding: 20px;
    color: #333;
}

.clear {
    margin-bottom: 22px;
}

.clear-title {
    font-size: 14px;
    color: #333;
    
}

.user-inner {
    padding: 20px;
}

.user-inner-right {
    float: right;
    font-style: normal;
    display: inline-block;
    margin: 0 2px;
    margin-right: 4px;
    font-size: 10px;
    color: #999;
}

.clear-topic {
    font-size: 12px;
    color: #999;
}

.article-topic {
    margin: 0;
    padding: 0;
}

blockquote{
    padding: 1px 20px;
    border-left: 5px solid darkcyan;
    border-bottom: 1px solid #eee!important;
    text-align: left;
    margin-left: 0px;
}

input#author,textarea {
    font-size: 13px;
    padding: 7px 10px;
    color: #353535;
    line-height: 21px;
    border: 1px solid #DCDCDC;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    outline: none;
    width: 650px;
    /* border: dotted #009; */
}

input:focus,textarea:focus{
    box-shadow: 0 0 0px 1px darkcyan;
    border: 1px solid darkcyan;
    border-color:darkcyan;
    border-radius: 2px;
}
.submit{
    border: none;
    padding: 0 20px;
    height: 35px;
    color: #FCFCFC;
    cursor: pointer;
    font-size: 11px;
    border-radius: 3px;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 600;
    border-bottom: 3px solid rgba(0,0,0,.15);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-shadow: 0px 0px 0px rgba(0,0,0,.1);
    background: darkcyan;
}

.comment-reply-title{
    font-size: 21px;
    margin: 0;
    font-weight: 400;
}

.comment-block,.article-recommend{

    margin-top: 20px;
    padding: 15px;
    width: 100%;
    background-color: white;
    display:block;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.recommend-name{
    color: #999;
    margin-bottom: 10px;
}
.recommend-content{
    color: #666;
    margin-bottom: 40px;
}

.name-backyan{
    color: darkcyan;
}

