a{
    color: #555;
}

.slidebar ul{
    margin: 0px;
    padding: 0px;
}

.item a:hover{
    color: #4db2ec;
}
.content {
    margin-top: 40px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.item-title {
/*
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
*/
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.item {
    width: 324px;
    height: 250px;
    float:left;
    margin-left: 12px;
    margin-bottom: 20px;
}

.item:hover{
    cursor: hand;
}
.item:hover a{
    color: #4db2ec;
}

.title-container {
    width: 324px;
}

.main {
    width: 700px;
}

.table-author {
    color: #111;
    font-weight: 600;
}

.talbe-add-time {
    color: #aaa;
}

 .bar {
    margin-top: 40px;
    margin-left: 20px;
    border: 1px solid #aaa;
/*    padding: 5px;*/
    width: 100px;
     padding-left: 50px;
     padding-top: 10px;
     padding-bottom: 10px;
    font-weight: 600;
     border-radius: 3px;
}

.bar:hover{
    background-color: #4db2ec;
    color: white;
    cursor: hand;
}
.bar:hover .more{
    color: white;
}

.more {
/*    font-weight: 600px;*/
}

.slidebar {
    width: 300px;
    float: right;
}

.sidebar-one {
    margin-bottom: 30px;
}

.table-right-list {
    height: 30px;
    width: inherit;
    margin-bottom: 20px;
}   

.table-right-list-title {
     color: white;
    width: 95px;
    /* height: 30px; */
    font-size: 16px;
    font-weight: 600;
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 5px;
}

.table-container {
    width: 700px;
    float: left;
    margin-top:-15px;
}

.table-block {
    margin-bottom: 25px;
    float: left;
}

.block-img {
    float: left;
}

.block-desc {
    float: left;
    margin-left: 13px;
}

.desc-tilte {
    width:215px;
    margin-top: -15px;
}

.table-list-name {
    font-size: 13px;
    font-weight: 500;
    color: #666;
}

.desc-data {
    margin-top: 10px;
}

.block-time {
    color: #aaa;
}

.table-block:hover{
    cursor: hand;
}
.table-block:hover .table-list-name{
    color: #4db2ec;
}

.comment {
    margin: 10px 12px!important;
    line-height: 21px;
    padding-bottom: 13px;
    border-bottom: 1px dashed #f1f1f1;
    width: 300px;
}

.num{
    float: left;
    color: #22bcdd;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px 0px 0px;
}

.list-item{
    font-size: 13px;
    text-transform: none;
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

.table-item{
    font-size: 12px;
    border-bottom: 1px solid #eaecef;
    position: relative;
    padding-bottom: 25px;
    width: 670px;
}
.table-item h3 {
    font-weight: 700;
    font-size: 100%;
    display: block;

}

.table-item-pic{
    position: absolute;
    left: 0;
    width: 200px;
    height: 120px;
    display: block;
}
.table-item-pic img{
    width: 200px;
    height: 120px;
}

.table-item h3 a {
    color: rgb(38, 38, 39);
    font: 800 20px/29px 微软雅黑;
}

.public-icon-unique{
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    margin-top: 5px;
    line-height: 18px;

    display: inline-block;
    width: 32px;
    height: 17px;
    font: 700 12px/17px normal;
    font-family: inherit;
    color: #e94c3d;
    border: 1px solid #e94c3d;
    text-align: center;
    border-radius: 3px;
}

.item-left{
    width: 200px;
    height: 120px;
    float: left;
}

.item-right{
    width: 450px;
    float: left;
    margin-left: 20px;
}

.table-item-desc{
    color: #606a77;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
}